{
  "plugins": ["html", "prettier"],
  "extends": "airbnb",
  "rules": {
    "prettier/prettier": ["error"],
    "no-alert": "off",
    "no-console": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off"
  },
  "env": {
    "browser": true
  }
}
